*.apk
*.ap_
*.dex
*.class
*.iml
bin/
gen/
.gradle/
build/
/*/build/
local.properties
proguard/
*.log
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/captures
/app/*.apk
.idea/
app/app.iml
app/google-services.json
